<div class="container">
    <div class="row">      
      <div class="col-xs-12">
        <search-bar 
          search-bar-value="{{$ctrl.search}}" 
          search-bar-change="$ctrl.changeParentSearchValue(value)"
          order-by-name-change="$ctrl.changeParentSortBy(name, reverse)"
          order-by-population-change="$ctrl.changeParentSortBy(name, reverse)">
        </search-bar>
      </div>
      <div class="col-xs-6">     
        <country-list 
          search-bar-value="{{$ctrl.search}}"
          sort-by-name="$ctrl.sort.name"
          order-reverse="$ctrl.sort.reverse">
        </country-list>
      </div>
      <div class="col-xs-6">
        <google-map-marker
          country-latlag="$ctrl.countryLatlagAndZoomValue">
        </google-map-marker>
      </div>
    </div>
</div>